<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <a class="navbar-brand" href="">Commerce</a>
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/client">Clients<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item  active">
          <a class="nav-link" routerLink="/product">Products</a>
        </li>
        <li class="nav-item  active">
          <a class="nav-link " routerLink="/sale">Sales</a>
        </li>
      </ul>
    </div>
  </nav>
  <router-outlet></router-outlet>
